// Site color scheme
$cs-black: #20232B;
$cs-white: #ffffff;
$cs-blue: #9eceff;
$cs-blue-d20: darken($cs-blue, 20%);
$cs-yellow: #F0A202;
$cs-error-red: #cc0000;
$cs-gray: #6B6D76;
$cs-gray-l20: lighten($cs-gray, 20%);
$cs-gray-l40: lighten($cs-gray, 40%);