div#register {
    display: flex;
    flex-direction: column;
    align-items: center;

    // Register form
    >div:first-of-type {
       display: flex;
       flex-direction: column;
       align-content: center;
       margin: 0 auto;

        // Register button
        input.btn {
            background-color: $cs-yellow;
        }
    }
}